@import url(./root.css);
@import url(./header.css);
@import url(./footer.css);

.section {
  margin: 20px 30px;
}

.page-title {
  text-align: center;
  margin: 30px auto;
  text-transform: uppercase;
}

.banner img {
  width: 100%;
  height: 300px;
}

/* hero */
.hero {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.hero iframe {
  height: 100vh;
  width: 80%;
}

/* end hero */

/* main */

/* sambutan */
.sambutan {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    'judul judul'
    'gambar teks';
  gap: 10px;
  align-items: center;
}

.sambutan h2 {
  grid-area: judul;
  text-align: center;
}

.sambutan .sambutan-img img {
  border-radius: 5px;
  width: 100%;
  grid-area: gambar;
}

.sambutan .sambutan-teks {
  text-align: justify;
  line-height: 30px;
  grid-area: teks;
}

.sambutan .sambutan-teks p {
  margin: 10px;
  color: black;
}
/* end sambutan */

/* welcome */
.welcome .content {
  text-align: center;
  margin: 30px auto;
  font-size: 22px;
  line-height: 30px;
}

/* end welcome */

/* media query 426px */
@media screen and (max-width: 426px) {
  .hero iframe {
    height: 300px;
  }

  .social-icons i {
    font-size: 16px;
  }

  .bottom-bar p {
    font-size: 12px;
  }
}
